<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Este título es el que se ve en la pestaña de la página: -->
    <title>My project</title>
</head>

<!-- Agrego link a CSS con estilos: -->
<link rel="stylesheet" type="text/css" href="./public/css/styles.css" />

<body>

    <!-- Barra de navegación típica arriba: -->
    <nav>
        <header>
            <h1> h1 es un elemento de html</h1>
        </header>
    </nav>

    <!--Cuerpo de página: -->
    <main>
        <div>
            <p>La mayoría de los elementos tienen el mismo comportamiento, por eso se dice que son convenciones. Este texto podría estar dentro de un div</p>
            <img src="./public/images/image.png" alt="An image" class="cuerpo_imagen-principal" id="imagenPrincipal">
        </div>
    </main>

    <!--Pie de página típico: -->
    <footer>
            <div class="footer_contenedor-texto">
                <p>Div es el elemento mas usado, un markup tradicionalmente tiene un id y una clase para individualizarlo</p>
            </div>
    </footer>
</body>

</html>